*{
    box-sizing: border-box;
}

#box { 
	position:fixed;
	width:1300px;
    height:625px;
    background-image: url(green.jpg);
    border:5px solid lightgoldenrodyellow;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    margin:auto;
}

#centerstuff{
    position:relative;
    width:1300px;
    margin:auto;
}

.mv{
    text-align:center;
    position:absolute;
    font-size: 100px;
    color:lightgoldenrodyellow;
    font-family: 'Dancing Script', cursive;
    top:150px;
    left:0px;
    right:0px;
    margin:auto;
    -webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}

.mv:hover{
    text-shadow: 0px 0 15px #fff;
}

.ft{
    text-align:center;
    position:absolute;
    color:lightgoldenrodyellow;
    font-family: 'Pacifico', cursive;
    left:0px;
    right:0px;
    margin:auto;
    top:265px;
}

.link{
    display:flex;
    text-decoration: none;
    font-size: 25px;
    color:lightgoldenrodyellow;
    font-family: 'Pacifico', cursive;
    left:0px;
    right:0px;
    margin:auto;
    text-align:center;
}

.l:hover {
    -webkit-transform: translate(0,1.5em);
    -moz-transform: translate(0,1.5em);
    -o-transform: translate(0,1.5em);
    -ms-transform: translate(0,1.5em);
    transform: translate(0,1.5em);
  }

.l{
    display:flex;
    position:absolute;
    background:red;
    width:150px;
    height:150px;
    background:lightgreen;
    border: 7px solid lightgoldenrodyellow;
    border-radius:200px;
    left:255px;
    top:300px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.l2:hover {
    -webkit-transform: translate(0,1.5em);
    -moz-transform: translate(0,1.5em);
    -o-transform: translate(0,1.5em);
    -ms-transform: translate(0,1.5em);
    transform: translate(0,1.5em);
  }

.l2{
    display:flex;
    position:absolute;
    background:orange;
    width:150px;
    height:150px;
    background:#009933;
    border: 7px solid lightgoldenrodyellow;
    border-radius:200px;
    left:415px;
    top:300px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.l3:hover {
    -webkit-transform: translate(0,1.5em);
    -moz-transform: translate(0,1.5em);
    -o-transform: translate(0,1.5em);
    -ms-transform: translate(0,1.5em);
    transform: translate(0,1.5em);
  }

.l3{
    display:flex;
    position:absolute;
    background:lightblue;
    width:150px;
    height:150px;
    background-color:#99ff33;
    border: 7px solid lightgoldenrodyellow;
    border-radius:200px;
    left:0px;
    right:0px;
    margin:auto;
    top:300px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.l4:hover {
    -webkit-transform: translate(0,1.5em);
    -moz-transform: translate(0,1.5em);
    -o-transform: translate(0,1.5em);
    -ms-transform: translate(0,1.5em);
    transform: translate(0,1.5em);
  }

.l4{
    display:flex;
    position:absolute;
    background:yellow;
    width:150px;
    height:150px;
    background:lightgreen;
    border: 7px solid lightgoldenrodyellow;
    border-radius:200px;
    right:415px;
    top:300px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.l5:hover {
    -webkit-transform: translate(0,1.5em);
    -moz-transform: translate(0,1.5em);
    -o-transform: translate(0,1.5em);
    -ms-transform: translate(0,1.5em);
    transform: translate(0,1.5em);
  }

.l5{
    display:flex;
    position:absolute;
    background:green;
    width:150px;
    height:150px;
    background-color:seagreen;
    border: 7px solid lightgoldenrodyellow;
    border-radius:200px;
    right:255px;
    top:300px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

#wrap {
    position:fixed;
    background-image:url(fleur-de-lis.jpg);
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

#wrap2{
    width:1300px;
    height:100%;
    left:0px;
    right:0px;
    margin:auto;
    background:lightgoldenrodyellow;
}