*{
    box-sizing: border-box;
}
#wrap {
    position:absolute;
    left:0;
    right:0;
    margin:auto;  
    border: 7px solid lightgoldenrodyellow;
    width: 900px;
    background:lightgoldenrodyellow;
    height:2000px;
    top:0px;
}

#wrap2 {
    position:absolute;
    left:0;
    right:0;
    margin:auto;  
    border: 7px solid lightgoldenrodyellow;
    width: 900px;
    background:lightgoldenrodyellow;
    height:2250px;
    top:0px;
}

#box-1 { 
	position: fixed;
	width: 100%;
    height:100%;
    left:0px;
    top:0px;
	background-image:url(fleur-de-lis.jpg);
}

#header {
    position: relative;
    height: 500px;
    background-image:url(green.jpg);
    padding: 25px;
    margin-bottom:10px;
    text-align: center;
    border-bottom:5px solid lightgoldenrodyellow;
}

#header2 {
    position: relative;
    height: 700px;
    background-image:url(green.jpg);
    padding: 25px;
    margin-bottom:10px;
    text-align: center;
    border-bottom:5px solid lightgoldenrodyellow;
}

#header3 {
    position: relative;
    height: 220px;
    background-image:url(green.jpg);
    padding: 25px;
    margin-bottom:10px;
    text-align: center;
    border-bottom:5px solid lightgoldenrodyellow;
}

.welcome2 {
    font-size: 60px;
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    color:lightgoldenrodyellow;
    width:500px;
    font-family: 'Dancing Script', cursive;
}

.welcome3 {
    font-size: 60px;
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    color:lightgoldenrodyellow;
    width:500px;
    font-family: 'Dancing Script', cursive;
}

.welcome4 {
    font-size: 60px;
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    color:lightgoldenrodyellow;
    width:500px;
    font-family: 'Dancing Script', cursive;
}

.inline-block {
    border-radius:40px;
    color:lightyellow;
    padding: 10px;
    text-decoration: none;
    background-color: lightgreen;
    border: 5px solid lightgoldenrodyellow;
    position:absolute;
    top:110px;
    left:260px;
    font-family: 'Pacifico', cursive;
}

.inline-block2 {
    border-radius:40px;
    color:lightyellow;
    padding: 10px;
    text-decoration: none;
    background-color: #99ff33;
    border:5px solid lightgoldenrodyellow;
    position:absolute;
    top:110px;
    left:340px;
    font-family: 'Pacifico', cursive;
}

.inline-block3 {
    border-radius:40px;
    color:lightyellow;
    padding: 10px;
    text-decoration: none;
    background-color: #009933;
    border:5px solid lightgoldenrodyellow;
    position:absolute;
    top:110px;
    left:420px;
    font-family: 'Pacifico', cursive;
}

.inline-block4 {
    border-radius:40px;
    color:lightyellow;
    padding: 10px;
    text-decoration: none;
    background-color:seagreen;
    border:5px solid lightgoldenrodyellow;
    position:absolute;
    top:110px;
    left:535px;
    font-family: 'Pacifico', cursive;
}

.inline-blocks3 {
    border-radius:40px;
    color:lightyellow;
    padding: 10px;
    text-decoration: none;
    background-color:#009933;
    border:5px solid lightgoldenrodyellow;
    position:absolute;
    top:110px;
    left:420px;
    font-family: 'Pacifico', cursive;
}

.hlink{
    border-radius:40px;
    color:lightyellow;
    padding: 10px;
    text-decoration: none;
    background-color:#009933;
    border:5px solid lightgoldenrodyellow;
    position:absolute;
    top:110px;
    right:335px;
    font-family: 'Pacifico', cursive;
}

.hlink2{
     border-radius:40px;
    color:lightyellow;
    padding: 10px;
    text-decoration: none;
    background-color: seagreen;
    border:5px solid lightgoldenrodyellow ;
    position:absolute;
    top:110px;
    right:255px;
    font-family: 'Pacifico', cursive;
}

h1 {
    color:lightgoldenrodyellow;
    background-color:#009933;
    border-radius:40px;
    padding:15px;
    display: inline-block;
    border: 5px solid white;
    margin-bottom:0px;
    font-size: 30px;
    margin-left:360px;
    font-family: 'Dancing Script', cursive;
}

.as{
    margin-left:330px;
}

h2 {
    display:inline-block;
    position:relative;
    background-color:lightgreen;
    color:lightgoldenrodyellow;
    border: 5px solid lightgoldenrodyellow;
    border-radius:40px;
    padding:10px;
    font-size:25px;
    margin-bottom:10px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

h3 {
    color:#006600;
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-top:15px;
}

p{
    font-size:22px; 
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Josefin Slab', serif;
}

.me {
    display:flex;
    position:relative;
    border: 5px solid lightgoldenrodyellow;
    border-radius: 500px;
    height:300px;
    top:150px;
    margin:auto;
}

ul {
    margin:0px;
    font-size:medium;
    font-family: 'Josefin Slab', serif;
    font-size: 22px; 
}

.link{
    color:#ff7733;
}

.move{
    margin:10px;
}

.move2{
    margin:10px;
}

footer { 
    border: 1px solid; 
    border-color: seagreen;
    background-color: seagreen;
    border-radius: 5px 5px 5px 5px;
    display:inline-block;
    color: lightyellow;
    padding: 1px;
    margin:30px;
}
.foot2{
    position:relative;
    
}

#band{
    height:400px;
    width:280px;
    position:absolute;
    top:250px;
    left:10px;
}

#thunder{
    right:10px;
    position:absolute;
    height:400px;
    top:250px;
}

#mahalo{
    height:250px;
    width:250px;
    position: absolute;
    top:435px;
    left:310px
}

#camp{
    width:300px;
    height:250px;
    position:absolute;
    left:285px;
    top:175px;
}