html {
    border-bottom: 10px double yellowgreen
}
body {
background-image: url(polkadots.png);
    margin: 0px;
}

h1 {
   color:coral;
    background-color:lightyellow;
    border-radius:10px 10px 10px 10px;
    padding: 5px;
    display: inline-block;
    border: 1px solid;
    border-color: seagreen;
    margin-bottom: 4px;
}

h2 {
    display:inline-block;
    color:#ff7733;
    border-bottom: 5px double;
    border-color:yellowgreen;
    margin-bottom: 5px;   
}

p{
   color:darkblue;
   font-size:larger; 
    margin-bottom: 5px;
}

ul {font-size:medium;
}

footer { 
    border: 1px solid; 
    border-color: seagreen;
    background-color: seagreen;
    border-radius: 5px 5px 5px 5px;
    display:inline-block;
    color: lightyellow;
}

.inline-block { 
    display:inline-block;
    border-radius:5px 5px 5px 5px;
    color:lightyellow;
    padding: 5px;
    text-decoration: none;
    background-color: seagreen;
}

.me {
    border: 5px double;
    border-color:seagreen;
    border-radius: 50px 50px 50px 50px;
    margin-right: 10px;
    margin-left: 10px;
}

ul {
    color:darkblue;
    font-size: larger; 
}

.link{
    color:orangered;
}

#header {
    height: 150px;
    background-image: url(cutestripes.jpeg);
    padding: 15px;
    margin-bottom:10px;
    border-bottom:10px double yellowgreen;
    text-align: center;
    font-size: 50px
}

.space {
    margin-left: 10px;
}

.welcome {
    margin-top: 10px;
    border: 3px solid seagreen;
    padding:5px;
}