html { 
   border: 4px dotted;
   border-color: darkmagenta;
}
body {
background-image: url("leaf.jpg") 
}
h1 {
   color:green;
    background-color:lightyellow;
    border-radius:40px 0 40px 0;
    padding: 5px
}
h2 {
    color:darkmagenta;
}
p{
   color:midnightblue;
   font-size:large; 
}
ul {font-size:medium;
}
footer { 
    border: 1px dotted; 
    border-color: darkmagenta;
    background-color: lightyellow;
    border-radius: 40px 0 40px 0;
}
nav {
    border-radius: 20px 0 20px 0;
    Background-color:lightyellow;
}
