html { 
   border: 5px double;
   border-color: darkmagenta;
    padding: 4px;
}
body {
background-image: url("leaf.jpg");
}
h1 {
   color:green;
    background-color:lightyellow;
    border-radius:20px 0 20px 0;
    padding: 5px;
    display: inline-block;
    border: 1px solid;
    border-color: darkmagenta;
    margin-bottom: 4px;
}
h2 {
    display:inline-block;
    color:darkmagenta;
    border-bottom: 4px double;
    border-color:forestgreen;
    margin-bottom: 5px;   
        
}
p{
   color:midnightblue;
   font-size:large; 
}
ul {font-size:medium;
}
footer { 
    border: 1px dotted; 
    border-color: darkmagenta;
    background-color: lightyellow;
    border-radius: 10px 0px 10px 0px;
    display:inline-block;
}
.inline-block { 
    display:inline-block;
    border-radius:10px 0px 10px 0px;
    Background-color:darkmagenta;
    color:lightyellow;
    padding: 5px;
    text-decoration: none;

}
.me {
    border: 5px double;
    border-color:forestgreen;
    border-radius: 50px 0px 50px 0px;
}