html {
    border: 5px double seagreen;
}

body {
background-image: url("greenstripes.jpg");
    margin: 0px;
}

h1 {
   color:seagreen;
    background-color:white;
    border-radius:20px 0 20px 0;
    padding: 5px;
    display: inline-block;
    border: 1px solid;
    border-color: deeppink;
    margin-bottom: 4px;
}

h2 {
    display:inline-block;
    color:darkblue;
    border-bottom: 5px double;
    border-color:deeppink;
    margin-bottom: 5px;   
}

p{
   color:darkblue;
   font-size:larger; 
    margin:7px;
}

ul {font-size:medium;
}

footer { 
    border: 1px solid; 
    border-color: palegreen;
    background-color: seagreen;
    border-radius: 5px 0px 5px 0px;
    display:inline-block;
    color: white;
}

.inline-block { 
    display:inline-block;
    border-radius:10px 0px 10px 0px;
    color:white;
    padding: 5px;
    text-decoration: none;
    background-color: seagreen;
}

.me {
    border: 5px double;
    border-color:deeppink;
    border-radius: 50px 50px 50px 50px;
    margin-right: 10px;
}

ul {
    color:darkblue;
    font-size: larger;
    background-color: 
}

.link{
    color:deeppink;
}

#header {
    width: 100%;
    height: 150px;
    background-image: url(flowers.jpg);
    padding: 10px;
    margin-bottom:5px;
    border-bottom:5px double darkcyan;
    display:inline-block;
    
}
.space {
    margin-left: 10px;
}