* {
  box-sizing:border-box;
    font-family: sans-serif;
}
.main-container{
    width:900px;
    margin: 0 auto 0 auto;
}

.promo-container{
  background:lightgray; 
    border: 1px solid black;
    
}

header {
    display:flex;
    margin: 10px;
}

.branding {
    background: black;
    width:150px;
    height:45px;
    margin-right: auto;
    margin-left:50px;
}

.pill-button {
    display: inline-block;
    background:white;
    padding: 3px 40px;
    border: 1px solid black;
    border-radius:20px;
    text-decoration: none;
    color:black;
}
#big-promo {
  padding-top:65px;  
}
   
.promo-message {
    width:60%;
    padding:50px; 
}

.promo{
     background:white;
    padding: 5px 30px;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    color: black; 
    margin-right: 10px; 
    font-size:18px;
}
#big-promo p {
    margin-bottom: 35px;
    font-size: 20px;
}
#big-promo h1 {
    font-size:33px;
}

/* Product Features */

.product-features {
 display:flex;
    border-right:1px solid black;
    border-left:1px solid black;
}

.feature {
    text-align: center;
    padding:40px;
}

.feature-image{
    width:200px;
    height: 200px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
}

.buy-it-now {
    display:flex;
     border-right:1px solid black;
    border-left:1px solid black;
    border-bottom: 1px solid black;
   align-content: center;
}

.product-info {
    text-align: right;
    
}
#product-reviews {
    border-right:1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color:grey;
    padding: 50px;
    text-align: center;
}
