*{
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

#box{
    position:;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-image:url(sparkles1.jpg);
}

#wrap {
    position:;
    left:0;
    right:0;
    margin:auto;  
    border: 7px solid purple;
    width: 1000px;
}

header{
    display: flex;
    background-image:url(blackg.jpg);
    height:125px;
}

.button{
    position:relative;
    color:white;
    text-decoration: none;
    padding:7px 10px 7px 10px;
    border-radius:10px;
    top:50px;
    left:60px;
    font-size:20px
}

.branding{
    margin-left: auto;
    margin-top: 30px;
}

.sign-up{
    display:inline-block;
    width:100%;
    text-align:center;
    background-image:url(sparkles1.jpg);
    padding-bottom:70px;
}

.hh1{
    color:white;
    font-size: 40px;
    padding-top:30px;
    margin-bottom:30px;
}

.p1{
    color:white;
    width:450px;
    left:0px;
    right:0px;
    margin:auto;
    margin-bottom:30px;
}

.hp{
    color:white;
    text-decoration: none;
    background:black;
    padding:5px 30px 5px 30px;
    border-radius:10px;
    font-size:25px;
}

.product-features{
    background-image:url(blackg.jpg);
    display:flex;
    padding:20px;
    padding-top:60px;
}

.product-features p{
    color:white;
    padding:20px;
}

.next-feature{
    position:relative;
    background-image: url(blackg.jpg);
    height:450px;
    color:white;
    text-align:center;
    padding:30px;
}

.feature-image{
    float: right;
    clear:left;
    margin-left:20px;
}

.nfh1{
    font-size:30px;
    margin-top:30px;
}

.next-feature p{
    margin-bottom:60px;
}

.next-feature a{
    color:white;
    text-decoration: none;
    font-size:25px;
    border-radius:10px;
    padding:5px 30px;
    border: 2px solid purple;
}

footer{
    display:flex;
    position:relative;
    color:white;
    background:black;
    height:116px;
}

.button2{
    position:relative;
    color:white;
    padding:7px 10px 7px 10px;
    border-radius:10px;
    font-size:20px;
    left:650px;
    top:20px;
}

footer p{
    position:relative;
    top:50px;
    left:362px;
}

.featurepage{
    background-image: url(blackg.jpg);
}

.feature2{
    width:500px;
    display:;
    color:white;
}

.fimage{
    float:left;
    clear:right;
}

.feature2 h1{
    display:inline-block;
    text-align:center;
    font-size:25px;
}


.feature2 p{
    display:inline-block;
    text-align:center;
}

.morefeature{
    position:relative;
    background-image:url(blackg.jpg);
    padding:40px;
    color:white;
}

.cool{
    width:800px;
    height:400px;
    margin-left:55px;;
}

.morefeature p{
    text-align: center;
    width:600px;
    margin-left:170px;
    font-size:20px;
}

.images{
    padding:20px;
    margin-left:10px;
    margin-bottom:40px;
}

.images p{
    color:white;
    text-align:center;
    width:600px;
    font-size:20px;
    margin-left:175px;
    background:black;
    border-radius:15px;
    padding:7px;
}

.images a{
    margin-left:400px;
}