*{
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    background-image:url(sparkles1.jpg);
    background-attachment: fixed;
}

#wrap {
    left:0;
    right:0;
    margin:auto;  
    border: 7px solid purple;
    width: 1000px;
    height:100%;
}

header{
    display: flex;
    background-image:url(blackg.jpg);
    height:125px;
}

.button{
    position:relative;
    color:white;
    text-decoration: none;
    padding:7px 10px 7px 10px;
    border-radius:10px;
    top:50px;
    left:60px;
    font-size:20px
}

.branding{
    margin-left: auto;
    margin-top: 30px;
}

.sign-up{
    display:inline-block;
    width:100%;
    text-align:center;
    background-image:url(sparkles1.jpg);
    padding-bottom:70px;
}

.hh1{
    color:white;
    font-size: 40px;
    padding-top:30px;
    margin-bottom:30px;
}

.p1{
    color:white;
    width:450px;
    left:0px;
    right:0px;
    margin:auto;
    margin-bottom:30px;
}

.hp{
    color:white;
    text-decoration: none;
    background:black;
    padding:5px 30px 5px 30px;
    border-radius:10px;
    font-size:25px;
}

.product-features{
    background-image:url(blackg.jpg);
    display:flex;
    padding:20px;
    padding-top:60px;
}

.product-features p{
    color:white;
    padding:20px;
}

.next-feature{
    position:relative;
    height:450px;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:40px;
    margin-bottom:40px;
}

.feature-image{
    float: right;
    clear:left;
    margin-left:20px;
}

.nfh1{
    font-size:30px;
    margin-top:30px;
}

.next-feature p{
    margin-bottom:60px;
}

.next-feature a{
    color:white;
    text-decoration: none;
    font-size:25px;
    border-radius:10px;
    padding:5px 30px;
    background:black;
}

footer{
    display:flex;
    position:relative;
    color:white;
    background:black;
    height:116px;
}

.button2{
    position:relative;
    color:white;
    padding:7px 10px 7px 10px;
    border-radius:10px;
    font-size:20px;
    left:650px;
    top:20px;
}

footer p{
    position:relative;
    top:50px;
    left:362px;
}

.featurepage{
    padding-left:40px;
    display:flex;
    height:500px;
    background-image: url(blackg.jpg);
    padding-top:60px;
}

#feature2{
    display:flex;
    color:white;
    width:465px;
    height:200px;
    margin-bottom:20px;
}

.writing{
    text-align:center;
    padding:10px;
    width:300px;
}

.writing h1{
    margin-bottom:0px;
    font-size:25px;
}

.feature2 h1{
    display:inline-block;
    text-align:center;
    font-size:25px;
}


.feature2 p{
    display:inline-block;
    text-align:center;
}

.morefeature{
    position:relative;
    background-image:url(blackg.jpg);
    padding:40px;
    color:white;
}

.cool{
    width:800px;
    height:400px;
    margin-left:55px;;
}

.morefeature p{
    text-align: center;
    width:600px;
    margin-left:170px;
    font-size:20px;
    
}

.images{
    padding:20px;
    background-image:url(blackg.jpg);
    width:100%;
    padding-left:35px;
    padding-bottom:60px;
}

.imagespara{
    color:white;
    text-align:center;
    width:600px;
    font-size:25px;
    margin-top:80px;
    margin-left:180px;
    margin-bottom:40px;
}

.imagespara a{
    display:inline-block;
    margin-bottom:40px;
    margin-top:30px;
}

.bigimage img{
    margin-top:80px;
}

.pricing{
    display:inline-flex;
}

.price{
    position:relative;
    left:80px;
    text-align: center;
    color:white;
    background:black;
    width:200px;
    margin:40px;
    padding-bottom:25px;
    margin-top:80px;
}

.price p{
    font-size:15px;
}

.pricing a{
    color:white;
    text-decoration: none;
    
}

.price h1{
    font-size:60px;
    margin-bottom:0px;
}

.pb{
    font-style:italic;
}

.price h2{
    font-size:20px;
    margin-top:0px;
    margin-bottom:0px;
}

.price h3{
    font-size:20px;
    font-style: italic;
    margin-top:0px;
    margin-bottom:25px;
}

.bold{
    font-weight:bolder;
    font-style:italic;
}

.buynow1{
    display:inline-block;
    margin-top:120px;
}

.space{
    margin-top:30px;
}

.buynow2{
    display:inline-block;
    margin-top:40px;
}

.buynow3{
    display:inline-block;
    margin-top:5px;
}

.bottom{
    text-align:center;
    color:white;
    width:600px;
    height:300px;;
    margin-left:200px;
}

.bottom h1{
    font-size:40px;
    margin-bottom:0px;
}

.bottom p{
    font-size:20px;
    margin-bottom:40px;
}

.info{
    display:inline-block;
    color:white;
    padding:40px;
    padding-top:0px;
    background-image:url(blackg.jpg);
    font-size:20px
}

.info h1{
    font-size:30px;
}

.wave{
    float:right;
    clear:left;
    margin-left:20px;
}

.coolio{
    float:left;
    clear:right;
    margin-bottom:40px;
    margin-right:20px;
}

.lasti{
    margin-bottom:40px;
}